@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.acrylic {
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.form-section {
@apply flex items-center gap-3 mb-2;
}

.form-section:nth-child(1) {
@apply font-semibold;
}

.green-glow {
@apply hover:text-green-600 hover:border-b-green-500 border-transparent hover:shadow-green-500/10 transition-all duration-500 ease-in-out;
}